[package]
name = "staking-ui-service"
version = "0.1.0"
edition = "2024"

[dependencies]
alloy = { version = "1.0", features = ["node-bindings"] }
async-lock = "3.0"
cld = "0.5"
clap = { version = "4.4", features = ["derive", "env"] }
derive_more = "2.0"
futures = "0.3"
hotshot-contract-adapter = { git = "https://github.com/EspressoSystems/espresso-network.git" }
im = { version = "15", features = ["serde"] }
parking_lot = "0.12"
serde = { version = "1.0", features = ["derive"] }
tagged-base64 = "0.4"
tide-disco = "0.9"
tokio = "1"
tower-service = "0.3"
tracing = "0.1"
