[package]
name = "staking-ui-service"
version = "0.1.0"
edition = "2024"

[dependencies]
alloy = { version = "1.0", features = ["provider-ws", "json-rpc", "signer-mnemonic", "node-bindings", "getrandom"] }
async-lock = "3.0"
clap = { version = "4.4", features = ["derive", "env"] }
derive_more = "2.0"
futures = "0.3"
# hotshot-contract-adapter = { path = "../espresso-network/contracts/rust/adapter" }
im = { version = "15", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
tagged-base64 = "0.4"
tide-disco = "0.9"
tokio = "1"
tracing = "0.1"

[dev-dependencies]
tokio = { version = "1", features = ["rt", "macros"] }
