services:
  l1:
    image: ghcr.io/foundry-rs/foundry:stable
    environment:
      ANVIL_IP_ADDR: "0.0.0.0"
    working_dir: /anvil
    ports:
      - "$ESPRESSO_SEQUENCER_L1_PORT:8545"
      - "$ESPRESSO_SEQUENCER_L1_WS_PORT:8545"
    # Run anvil with fast block time _and_ fast finalization time. This lets us drive Espresso
    # epochs (which rely on the L1 finalized block) really fast, in turn.
    command: [ anvil --block-time 1 --slots-in-an-epoch 0 ]
    healthcheck:
      test: cast block-number
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 30s
      start_interval: 1s

  espresso-dev-node:
    image: ghcr.io/espressosystems/espresso-sequencer/espresso-dev-node:main
    ports:
      - "$ESPRESSO_SEQUENCER_API_PORT:$ESPRESSO_SEQUENCER_API_PORT"
      - "$ESPRESSO_BUILDER_PORT:$ESPRESSO_BUILDER_PORT"
      - "$ESPRESSO_DEV_NODE_PORT:$ESPRESSO_DEV_NODE_PORT"
    environment:
      - ESPRESSO_BUILDER_PORT
      - ESPRESSO_DEPLOYER_ACCOUNT_INDEX
      - ESPRESSO_DEV_NODE_PORT
      - ESPRESSO_SEQUENCER_API_PORT
      - ESPRESSO_SEQUENCER_ETH_MNEMONIC
      - ESPRESSO_SEQUENCER_DATABASE_MAX_CONNECTIONS=25
      - ESPRESSO_DEV_NODE_EPOCH_HEIGHT
      - ESPRESSO_SEQUENCER_STORAGE_PATH=/data/espresso/dev-node
      - ESPRESSO_SEQUENCER_L1_PROVIDER=http://l1:$ESPRESSO_SEQUENCER_L1_PORT
      - RUST_LOG
      - RUST_LOG_FORMAT
      - ESPRESSO_DEV_NODE_VERSION=0.4
    healthcheck:
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 30s
    depends_on:
      l1:
        condition: service_healthy
    volumes:
      - espresso_storage:/data/espresso

  staking-ui-service:
    image: ghcr.io/espressosystems/staking-ui-service:main
    ports:
      - "$ESPRESSO_STAKING_SERVICE_PORT:$ESPRESSO_STAKING_SERVICE_PORT"
    environment:
      - ESPRESSO_STAKING_SERVICE_PORT
      - ESPRESSO_STAKING_SERVICE_DB_PATH=/data/espresso/staking-service
      - ESPRESSO_STAKING_SERVICE_L1_HTTP=http://l1:8545
      - ESPRESSO_STAKING_SERVICE_L1_WS=ws://l1:8545
      - ESPRESSO_STAKING_SERVICE_STAKE_TABLE_ADDRESS
      - ESPRESSO_STAKING_SERVICE_REWARD_CONTRACT_ADDRESS
      - ESPRESSO_STAKING_SERVICE_ESPRESSO_URL=http://espresso-dev-node:$ESPRESSO_SEQUENCER_API_PORT/v1
      - RUST_LOG
      - RUST_LOG_FORMAT
    depends_on:
      espresso-dev-node:
        condition: service_healthy
    volumes:
      - espresso_storage:/data/espresso

  client-swarm:
    image: ghcr.io/espressosystems/staking-client-swarm:main
    ports:
      - "$STAKING_CLIENT_SWARM_PORT:$STAKING_CLIENT_SWARM_PORT"
    environment:
      - STAKING_CLIENT_SWARM_PORT
      - STAKING_CLIENT_SWARM_STAKING_SERVICE=http://staking-ui-service:$ESPRESSO_STAKING_SERVICE_PORT/v0/staking
      - STAKING_CLIENT_SWARM_QUERY_SERVICE=http://espresso-dev-node:$ESPRESSO_SEQUENCER_API_PORT/v1
      - RUST_LOG
      - RUST_LOG_FORMAT
    depends_on:
      staking-ui-service:
        condition: service_healthy

volumes:
  espresso_storage:
