[meta]
FORMAT_VERSION = "0.1.0"
NAME = ""
DESCRIPTION = """
Stake table and delegation information.

This API provides information about the current stake table, the delegators and nodes therein, and
pending rewards and withdrawals. It is designed to serve the Espresso staking UI.

## Types

The following types are referenced by the endpoint descriptions below.

### `NodeSetEntry`

```json
{
    "address": Hex,
    "staking_key": TaggedBase64,
    "stake": BigInt,
    "commission": float
}
```

### `L1BlockId`

```json
{
    "hash": Hex,
    "parent": Hex,
    "number": integer
}
```

### `L1BlockInfo`

```json
{
    "hash": Hex,
    "timestamp": integer,
    "number": integer
}
```

### `EpochAndBlock`

```json
{
    "block": integer,
    "epoch": integer,
    "timestamp": integer
}
```

### `Bitset`

A set of variable size, represented as a bit string.

```json
{
    "order": "bitvec::order::Lsb0" | "bitvec::order::Msb0",
    "head": {
        "width": integer,
        "index": integer
    },
    "bits": integer,
    "data": [integer]
}
```

### `Hex`

Any valid `0x`-prefixed hex string.

### `TaggedBase64`

A representation of short binary strings consisting of:
* A short alphabetic tag identifying the type of object
* A `~`
* A URL-safe base64-encoded byte string. The final byte of the encoded data is a CRC-8 checksum over
  the tag and the payload.

### `Delegation`

```json
{
    "delegator": Hex,
    "node": Hex,
    "amount": BigInt
}
```

### `PendingWithdrawal`

```json
{
    "delegator": Hex,
    "node": Hex,
    "amount": BigInt,
    "available_time": integer
}
```

### `Withdrawal`

```json
{
    "delegator": Hex,
    "node": Hex,
    "amount": BigInt
}
```
"""

[route.l1_block_latest]
PATH = ["/l1/block/latest"]
DOC = """
Get the latest L1 head.

### Returns

`L1BlockId`
"""

[route.l1_block]
PATH = ["/l1/block/:number"]
":number" = "Integer"
DOC = """
Get the requested L1 block.

L1 block information is generally available from any block from the most recent finalized block up
to the current head. Requests for older blocks may return `410 Gone`. Requests for blocks that have
not yet been produced will return `404 Not Found`.

### Returns

`L1BlockId`
"""

[route.full_node_set_snapshot]
PATH = ["/nodes/all/:hash"]
":hash" = "Literal"
DOC = """
Get a snapshot of the full node set as of the indicated L1 block.

This is the full node set as reflected in the stake table contract after L1 block `:hash`. Snapshots
are available for L1 blocks from the last finalized block up to the latest head (i.e. the same range
of availability for `/l1/block/:number`).

It is important to note that this is _not_ the stake table that is actually in use by consensus.
Consensus will only use snapshots taken from the L1 origin of the Espresso epoch root, and then the
snapshot will only come into effect in the following epoch.

### Returns

```json
{
    "nodes": [NodeSetEntry],
    "l1_block": L1BlockInfo
}
```
"""

[route.full_node_set_update]
PATH = ["/nodes/all/updates/:hash"]
":hash" = "Literal"
DOC = """
Get the update needed to bring a snapshot of the full node set up to date with L1 block `:hash`.

This is available for unfinalized L1 blocks up to the latest head.

### Returns

```json
{
    "diff": [
        {
            "NodeUpdate": NodeSetEntry
        } |
        {
            "NodeExit": {
                "address": Hex,
                "exit_time": integer
            }
        }
    ]
    "l1_block": L1BlockInfo
}
```
"""

[route.wallet_snapshot]
PATH = ["/wallet/:address/:hash"]
":address" = "Literal"
":hash" = "Literal"
DOC = """
Get a snapshot of the requested wallet state at the specified L1 block.

Returns a complete snapshot of the wallet state including active delegations, pending undelegations,
pending exits from exited nodes, and claimed rewards.

Requests for unknown wallet addresses will return `404 Not Found`.
### Returns

```json
{
    "nodes": [Delegation],
    "pending_undelegations": [PendingWithdrawal],
    "pending_exits": [PendingWithdrawal],
    "claimed_rewards": BigInt,
    "l1_block": L1BlockInfo
}
```
"""

[route.wallet_update]
PATH = ["/wallet/:address/updates/:hash"]
":address" = "Literal"
":hash" = "Literal"
DOC = """
Get the list of changes to apply to the requested wallet's current snapshot as a result of L1 block `:hash`.

This is available for unfinalized L1 blocks up to the latest head. The client typically polls this
endpoint with sequential block hashes (obtained from `/l1/block`) every few seconds, once they have
established an initial snapshot.

Requests for unknown wallet addresses will return `404 Not Found`.

### Returns

```json
{
    "l1_block": L1BlockInfo,
    "diff": [
        { "ClaimedRewards": integer } |
        { "DelegatedToNode": Delegation } |
        { "UndelegatedFromNode": PendingWithdrawal } |
        { "NodeExited": PendingWithdrawal } |
        { "UndelegationWithdrawal": Withdrawal } |
        { "NodeExitWithdrawal": Withdrawal }
    ]
}
```
"""

[route.active_node_set_snapshot]
PATH = ["/nodes/active"]
DOC = """
Get the latest set of active nodes, with statistics.

This is the active node set that is in use right now, during the current epoch, according to
Espresso. It contains participation metrics for each active node dating back to the start of the
current epoch.

### Caching Behavior

This endpoint may be cached, so that it sometimes returns stale data. In this case, clients can
simply replay recent updates from `/nodes/active/updates` in order to bring their state up to date.
The indexed version of this endpoint, `/nodes/active/:block`, can be used to access more recent
snapshots. However, unlike that endpoint, this one will never fail with `404 Not Found` or
`410 Gone`.

### Returns

```json
{
    "espresso_block": EpochAndBlock,
    "nodes": [
        {
            "address": Hex,
            "votes": integer,
            "eligible_votes": integer,
            "proposals": integer,
            "slots": integer
        }
    ]
}
```
"""

[route.active_node_set_snapshot_indexed]
PATH = ["/nodes/active/:block"]
":block" = "Integer"
DOC = """
Get the set of active nodes, with statistics, as of the requested Espresso block number.

This information is always available for the latest Espresso block. Depending on cache behavior, it
may also be available for older blocks, but requests for block numbers that are too old will fail 
with `410 Gone`.

Requests for block numbers in the future will fail with `410 Not Found`.

### Returns

```json
{
    "espresso_block": EpochAndBlock,
    "nodes": [
        {
            "address": Hex,
            "voter_participation": float,
            "leader_participation": float
        }
    ]
}
```
"""

[route.active_node_set_update]
PATH = ["/nodes/active/updates/:block"]
":block" = "Integer"
DOC = """
Get the update to the active node set, capturing changes from Espresso block `:block`.

This is usually available for all Espresso blocks in the current epoch. Requests for blocks that are
too old will return `410 Gone`, and requests for blocks in the future will return `404 Not Found`.

### Returns

```json
{
    "espresso_block": EpochAndBlock,
    "diff": [
        {
            "NewBlock": {
                "leader": integer,
                "failed_leaders": [integer],
                "voters": Bitset
            }
        } |
        {
            "NewEpoch": [Hex]
        }
    ]
}
```
"""
