name: Test

on:
  push:
    branches:
      - main
      - release-*
    tags:
      # YYYYMMDD
      - "20[0-9][0-9][0-1][0-9][0-3][0-9]*"
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUST_LOG: info
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-24.04-8core
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3

      - uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.ref == 'refs/heads/main'  }}
          shared-key: cargo-test

      - name: Install nextest
        uses: taiki-e/install-action@nextest

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Test
        run: cargo llvm-cov --no-report nextest --ignore-filename-regex testing.rs
        timeout-minutes: 20

      - name: Coverage Report
        run: cargo llvm-cov report --lcov --output-path lcov.info --ignore-filename-regex testing.rs
      
      - name: Coveralls upload
        uses: coverallsapp/github-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: lcov.info
          fail-on-error: false
